
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}-Orient</title>
        <link rel="shortcut icon" href="#">
        <meta charset="UTF-8"/>

    </head>
    <body>
      <center>
          <forms>
              <h1> Orient</h1></br></br>

              <input type="submit" value="Submit">
            </forms>

      </center>


    </body>
</html>